body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 200px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
}

/* Solution  */


body {
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 8px;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
}


.card {
  padding: 10px;
  margin: 10px;
  font-size: 13px; 
} 